#brand-logo {
    font-size: 34px
}

#app-navbar {
    background: linear-gradient(to right, #242516, #202020)

}

body {
    background: #EEEEEE
}

footer {
    color: white;
    background: linear-gradient(to right, #242516, #202020)
}