<!DOCTYPE html>
        <html
                xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout.html}"
        >
        <head>
            <link media="all" rel="stylesheet" th:href="@{/css/matcheslist.css}" type="text/css"/>
            <title>Týmy</title>
        </head>
<body>
<section layout:fragment="content">
    <h1 class="h1">Mé sázky</h1>
    <div class="container" id="main">
        <div th:each="bet : ${bets}">
            <p class="text-white" th:text="${bet.startDate}">
            </p>
            <p class="text-white">Částka: </p>
            <p class="text-white" th:text="${bet.description}"></p>
            <table class="table">
               <tr th:each="ma : ${bet.match}">
                    <td th:text="${ma.date}"></td>
                    <td th:text="${ma.description}"></td>
                    <td th:text="${ma.team1.name}"></td>
                    <td th:text="${ma.team2.name}"></td>
                    <td th:if="${ma.stream} != null" th:text="${ma.stream.url}"></td>
               </tr>
          </span>
        </table>
        </div>
    </div>
</section>
</body>
</html>
</title>
</head>
<body>
