<!DOCTYPE html>
<html
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout.html}"
>
<head>
	<title>Index</title>
</head>
<body>
<section layout:fragment="content">
	<div class="container-fluid pb-0 mb-0 justify-content-center">
		<div class="row my-5 justify-content-center">
			<h2 class="mb-4">Sázkový kancl</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi et maxime neque quis rem.
				A, assumenda cumque in inventore ipsum iusto, maxime obcaecati omnis, perspiciatis rerum vel
				voluptate! Beatae ea earum eligendi error, est iste laboriosam libero minima nisi obcaecati
				quaerat ratione, saepe sit veritatis voluptatem voluptates voluptatum! Adipisci,
				molestiae.
			</p>
		</div>
</section>
</body>
</html>
