<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Registrovat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link media="all" rel="stylesheet" th:href="@{/css/matcheslist.css}" type="text/css"/>
</head>
<body>
<section layout:fragment="content">
    <div class="container" id="main">
<form th:action="@{/save-match}" th:object="${match}" method="post" class="box">
    <h1 th:if="${create} == true">Vložit zápas</h1>
    <h1 th:unless="${create} == true">Upravit zápas</h1>
<table class="table">
    <thead>
    <tr>
        <td>Datum</td>
        <td>#</td>
        <td>Tým 1</td>
        <td>Tým 2</td>
        <td>Výsledek</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <input th:unless="${create} == true" id="id" th:field="*{id}" type="hidden"/>
            <input type="datetime-local" th:field="*{date}" placeholder="Datum" required></td>
        <td>
            <input type="text" th:field="*{description}" placeholder="Popis" required></td>
        </td>
        <td>
            <select th:field="*{team1}" required>
                <option th:each="t : ${teams}" th:value="${t.id}" th:text="${t.name}"></option>
            </select>
        </td>
        <td>
            <select th:field="*{team2}" required>
                <option th:each="t : ${teams}" th:value="${t.id}" th:text="${t.name}"></option>
            </select>
        </td>
        <td>
            <input type="text" th:field="*{result}" placeholder="Výsledek" required></td>
        </td>
        <td>
            <input type="submit" name="login-submit" value="Upravit">
        </td>
    </tr>
    </tbody>
</table>
</form>
    </div>
</section>
</body>
</html>
