<!DOCTYPE html>
<html
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
		layout:decorate="~{layout.html}"
>
<head>
	<link media="all" rel="stylesheet" th:href="@{/css/matcheslist.css}" type="text/css"/>
	<script th:href="@{/js/check.js}"></script>
	<title>Zápasy</title>
</head>
<body>

<section layout:fragment="content">
	<button class="btn btn-success">
		<a th:href="@{/create-match}" class="text-white">Přidat nový zápas</a>
	</button>
	<h1 class="h1">Všechny zápasy</h1>
	<div class="container" id="main" th:if="${!football.isEmpty()}">
		<div class="row">
			<div class="col-sm-8" id="detail">
				<h2 id="shawn"><b>Fotbal</b></h2>
			</div>
		</div>
		<table class="table">
			<thead>
			<tr>
				<td>Datum</td>
				<td>#</td>
				<td>Tým 1</td>
				<td>Tým 2</td>
				<td>Výsledek</td>
				<td></td>
			</tr>
			</thead>
			<tbody>
			<tr th:each="football : ${football}">
				<td th:text="${football.date}"></td>
				<td th:text="${football.description}"></td>
				<td th:text="${football.team1.name}"></td>
				<td th:text="${football.team2.name}"></td>
				<td th:text="${football.result}"></td>
				<td><a th:if="${football.stream} != null" th:href="${football.stream.url}">Sledovat stream</a></td>
				<td><button class="btn btn-success">
					<a th:href="@{'/edit-match/' + ${football.id}}" class="text-white">Upravit</a></button></td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="container" id="main" th:if="${!hockey.isEmpty()}">
		<div class="row">
			<div class="col-sm-8" id="detail">
				<h2 id="shawn"><b>Hokej</b></h2>
			</div>
		</div>
		<table class="table">
			<thead>
			<tr>
				<td>Datum</td>
				<td>#</td>
				<td>Tým 1</td>
				<td>Tým 2</td>
				<td>Výsledek</td>
				<td>Vsadit si</td>
			</tr>
			</thead>
			<tbody>
			<tr th:each="hockey : ${hockey}">
				<td th:text="${hockey.date}"></td>
				<td th:text="${hockey.description}"></td>
				<td th:text="${hockey.team1.name}"></td>
				<td th:text="${hockey.team2.name}"></td>
				<td th:text="${hockey.result}"></td>
				<td><a th:if="${hockey.stream} != null" th:href="${hockey.stream.url}">Sledovat stream</a></td>
				<td><button class="btn btn-success"><a th:href="@{'/edit-match/' + ${hockey.id}}" class="text-white">Upravit</a></button></td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="container" id="main" th:if="${!others.isEmpty()}">
		<div class="row">
			<div class="col-sm-8" id="detail">
				<h2 id="shawn"><b>Ostatní</b></h2>
			</div>
		</div>
		<table class="table">
			<thead>
			<tr>
				<td>Datum</td>
				<td>#</td>
				<td>Tým 1</td>
				<td>Tým 2</td>
				<td>Výsledek</td>
				<td>Vsadit si</td>
			</tr>
			</thead>
			<tbody>
			<tr th:each="match : ${others}">
				<td th:text="${match.date}"></td>
				<td th:text="${match.description}"></td>
				<td th:text="${match.team1.name}"></td>
				<td th:text="${match.team2.name}"></td>
				<td th:text="${match.result}"></td>
				<td><a th:if="${match.stream} != null" th:href="${match.stream.url}">Sledovat stream</a></td>
				<td><button class="btn btn-success"><a th:href="@{'/edit-match/' + ${match.id}}" class="text-white">Upravit</a></button></td>
			</tr>
			</tbody>
		</table>
	</div>
</form>
</section>
</body>
</html>
