<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout.html}">
<head>
	<link media="all" rel="stylesheet" th:href="@{/css/matcheslist.css}" type="text/css"/>
	<title>Zápasy</title>
</head>
<body>
<section layout:fragment="content">
	<h1 class="h1">Všechny zápasy</h1>

	<div class="container" id="main">
		<div class="row">
			<div class="col-sm-8" id="detail">
				<h2 id="shawn"><b>Fotbal</b></h2>
			</div>
		</div>
		<table class="table">
			<thead>
			<tr>
				<td>#</td>
				<td>Tým 1</td>
				<td>Tým 2</td>
				<td>Výsledek</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>1</td>
				<td>Why</td>
				<td>Shawn Mendes</td>
				<td>3:58</td>
			</tr>
			<tr>
				<td>2</td>
				<td>If I Can't Have You</td>
				<td>Shawn Mendes</td>
				<td>3:11</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Life Of The Party</td>
				<td>Shawn Mendes</td>
				<td>3:18</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Stitches</td>
				<td>Shawn Mendes</td>
				<td>3:35</td>
			</tr>
			<tr>
				<td>5</td>
				<td>Never Be Alone</td>
				<td>Shawn Mendes</td>
				<td>3:27</td>
			</tr>
			<tr>
				<td>6</td>
				<td>Kid In Love</td>
				<td>Shawn Mendes</td>
				<td>3:36</td>
			</tr>
			<tr>
				<td>7</td>
				<td>I Don't Even Know Your Name</td>
				<td>Shawn Mendes</td>
				<td>3:46</td>
			</tr>
			<tr>
				<td>8</td>
				<td>Something Big</td>
				<td>Shawn Mendes</td>
				<td>3:00</td>
			</tr>
			</tbody>
		</table>
	</div>

	<br><br>

	<div class="container" id="main">
		<div class="row">
			<div class="col-sm-8" id="detail">
				<h2 id="shawn"><b>Hokej</b></h2>
			</div>
		</div>
		<table class="table">
			<thead>
			<tr>
				<td>#</td>
				<td>Tým 1</td>
				<td>Tým 2</td>
				<td>Výsledek</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>1</td>
				<td>Why</td>
				<td>Shawn Mendes</td>
				<td>3:58</td>
			</tr>
			<tr>
				<td>2</td>
				<td>If I Can't Have You</td>
				<td>Shawn Mendes</td>
				<td>3:11</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Life Of The Party</td>
				<td>Shawn Mendes</td>
				<td>3:18</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Stitches</td>
				<td>Shawn Mendes</td>
				<td>3:35</td>
			</tr>
			<tr>
				<td>5</td>
				<td>Never Be Alone</td>
				<td>Shawn Mendes</td>
				<td>3:27</td>
			</tr>
			<tr>
				<td>6</td>
				<td>Kid In Love</td>
				<td>Shawn Mendes</td>
				<td>3:36</td>
			</tr>
			<tr>
				<td>7</td>
				<td>I Don't Even Know Your Name</td>
				<td>Shawn Mendes</td>
				<td>3:46</td>
			</tr>
			<tr>
				<td>8</td>
				<td>Something Big</td>
				<td>Shawn Mendes</td>
				<td>3:00</td>
			</tr>
			</tbody>
		</table>
	</div>
</section>
</body>
</html>
